.header-lights-area {
  position: absolute;
  top: 125px;
  left: 50%;
}
.header-lights {
  position: relative;
}
.particle {
  opacity:0;
  position: absolute;
  z-index: 11;
}
.rorate-way-fast {
  -webkit-animation: headerFast 3s cubic-bezier(.45,.02,1,.2) infinite running;
  animation: headerFast 3s cubic-bezier(.45,.02,1,.2) infinite running;
}
.rorate-way-low {
  -webkit-animation: headerLow 8s cubic-bezier(.71,.01,.99,.08) infinite running;
  animation: headerLow 8s cubic-bezier(.71,.01,.99,.08) infinite running;
}
@-webkit-keyframes headerFast {
  0% {opacity: 0;top: -500px;}
  20% {opacity: 0.7;}
  30% {opacity: 0;}
  40% {opacity: 0.7;}
  60% {opacity: 0.7;}
  100% {opacity: 0;top: 1000px;}
}
@-webkit-keyframes headerLow {
  0% {opacity: 0;top: -500px;}
  50% {opacity: 0.7;}
  60% {opacity: 0;}
  80% {opacity: 0.7;}
  90% {opacity: 0.7;}
  100% {opacity: 0;top: 1000px;}
}
@keyframes headerFast {
  0% {opacity: 0;top: -500px;}
  20% {opacity: 0.7;}
  30% {opacity: 0;}
  40% {opacity: 0.7;}
  60% {opacity: 0.7;}
  100% {opacity: 0;top: 1000px;}
}
@keyframes headerLow {
  0% {opacity: 0;top: -500px;}
  50% {opacity: 0.7;}
  60% {opacity: 0;}
  80% {opacity: 0.7;}
  90% {opacity: 0.7;}
  100% {opacity: 0;top: 1000px;}
}
