@charset "utf-8";

@import '_reset';
@import '_common';

#main {
  float: right;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  padding-left: 150px;
  &.none-sub-nav {
    padding-left: 0;
  }
  .main-wrapper {
  }
  .section-wrapper {
    margin-bottom: 40px;
  }
  .section-title {
    font-size: 2.2rem;
    margin-bottom: 10px
  }
  .section-subwrapper {
    background-color: #f1f7f6;
    padding: 20px;
  }
  .section-name {
    font-size: 1rem;
    margin-bottom: 10px
  }
  .section-description {
    margin-bottom: 25px
  }
  .section-subtitle {
    color: #1c654a;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .section-description {
    word-break: break-all;
    margin-bottom: 24px;
  }
}

#colors {
  .colors-list {
    .colors-list__item {
      display: inline-block;
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      .colors-main {
        width: 70px;
        height: 70px;
      }
      .colors-name {
        text-align: center;
        padding-top: 6px;
        padding-bottom: 10px;
        font-size: 0.8rem;
      }
    }
  }
}

#fonts {
}

#header-title {
  li {
    margin-bottom: 10px;
  }
}

a {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  color: #619a8b
}
.font-small {
  font-size: 1.2rem;
}
.mt {margin-top: 9px;}
.mt18 {margin-top: 18px;}
.mb {margin-bottom: 9px;}
.mb18 {margin-bottom: 18px;}
.txt-center {text-align: center;}
/* contents */
.contents {
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
pre {
  font-size: 0.8rem;
  html {
    font-size: 10px;
  }
}

#table {
  table { width: 100%; }
  th, td  { padding: 10px; border: 1px solid #ddd; }
  th  { background: #f4f4f4; }

  /*----------------------------------------------------
    .demo01
  ----------------------------------------------------*/
  .demo01 th  { width: 30%; text-align: left; }

  @media only screen and (max-width:480px){
      .demo01 { margin: 0 -10px; }
      .demo01 th,
      .demo01 td{
      width: 100%;
      display: block;
      border-top: none;
      }
    .demo01 tr:first-child th { border-top: 1px solid #ddd; }
  }

  /*----------------------------------------------------
    .demo02
  ----------------------------------------------------*/
  .demo02 th  { width: 13%; }
  .demo02 td  { text-align: center; }
  .demo02 td:first-child  { text-align: left; }
  @media only screen and (max-width: 800px) {
    .demo02 {
      display: block;
      width: 100%;
      margin: 0 -10px;
    }
    .demo02 thead{
      display: block;
      float: left;
      overflow-x:scroll;
    }
    .demo02 tbody{
      display: block;
      width: auto;
      overflow-x: auto;
      white-space: nowrap;
    }
    .demo02 th{
      display: block;
      width:auto;
    }
    .demo02 tbody tr{
      display: inline-block;
      margin: 0 -3px;
    }
    .demo02 td{
      display: block;
    }
  }

  /*----------------------------------------------------
   .demo03
  ----------------------------------------------------*/
  table { width: 100%; }
  th, td  { padding: 10px; border: 1px solid #ddd; }
  th  { background: #f4f4f4; }
  .demo03 th, .demo03 td  { width: 20%; text-align: left; }
  @media only screen and (max-width: 480px) {
    .demo03 { margin: 0 -10px; }
    .demo03 tr {
      display:block;
      margin-bottom: 10px;
    }
    .demo03 th {
      display:block;
      width: 100%;
    }
    .demo03 td {
      display: list-item;
      width: 90%;
      margin-left: 10%;
      border:none;
    }
  }



}
